body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 500px;
  margin-top: 20px;
  border-radius: 20px;
}
